.products {
  padding: 8px;

  &__wrapper {
    @include flex;

    align-items: flex-start;
    justify-content: space-between;
  }

  &__content {
  }

  &__tabs-item {
  }

  &__tabs-btn {
  }

  &__title {
  }

  &__cards-wrapper {
  }
}
