.tabs {
  &__nav {
    margin-bottom: 40px;
  }

  &__nav-item {
    margin-right: 30px;
  }

  &__nav-btn {
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 17px;
    color: var(--grey-color);
    opacity: 0.8;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 1px;
      background-color: var(--primary-color);
      opacity: 0;
    }

    &--active {
      color: var(--primary-color);

      &::after {
        opacity: 1;
      }
    }
  }
}
