<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="hero__block hero__block--bigger hero__block--bg-1">
        <h1 class="title hero__title">Наборы для сыроделия</h1>
        <p class="hero__descr">
          Все что вам нужно для приготовления сыра в домашних условиях
        </p>
        <button class="btn btn-reset hero__btn">Смотреть наборы</button>
      </div>
      <div class="hero__block hero__block--bg-2">
        <h2 class="subtitle hero__text">Рецепты</h2>
        <h3 class="title hero__subtitle">Сыры с плесенью</h3>
      </div>
      <div class="hero__block hero__block--bg-3">
        <h2 class="subtitle hero__text">Акции</h2>
        <h3 class="title hero__subtitle">Закваски для сыра</h3>
      </div>
    </div>
  </div>
</section>
