<section class="products">
  <div class="container products__wrapper">
    <aside class="aside">
      <h2 class="aside__title">Ингредиенты</h2>
      <ul class="list-reset aside__list">
        <li class="aside__item">
          Закваски для сыра

          <div class="dropdown aside__dropdown">
            <ul class="list-reset dropdown__list aside__dropdown-list">
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Молодые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Полутвердые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Паста Филата</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </aside>
    <div class="products__content">

    </div>
  </div>
</section>
