<section class="products">
  <div class="container products__wrapper">
    <aside class="aside">
      <h2 class="icon-bg icon-bg--before aside__title aside__title--cheese">Ингредиенты</h2>
      <ul class="list-reset aside__list">
        <li class="dropdown-hover icon-bg icon-bg--after aside__item aside__item--arrow">
          <a class="aside__link" href="#">Закваски для сыра</a>

          <div class="dropdown aside__dropdown">
            <ul class="list-reset dropdown__list aside__dropdown-list">
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Молодые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Полутвердые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Паста Филата</a></li>
            </ul>
          </div>
        </li>
        <li class="dropdown-hover icon-bg icon-bg--after aside__item aside__item--arrow">
          <a class="aside__link" href="#">Ферменты для сыра</a>

          <div class="dropdown aside__dropdown">
            <ul class="list-reset dropdown__list aside__dropdown-list">
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Молодые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Полутвердые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Паста Филата</a></li>
            </ul>
          </div>
        </li>
        <li class="aside__item">
          <a class="aside__link" href="#">Хлористый кальций</a>
        </li>
        <li class="dropdown-hover icon-bg icon-bg--after aside__item aside__item--arrow">
          <a class="aside__link" href="#">Плесень для сыра</a>

          <div class="dropdown aside__dropdown">
            <ul class="list-reset dropdown__list aside__dropdown-list">
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Молодые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Полутвердые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Паста Филата</a></li>
            </ul>
          </div>
        </li>
        <li class="dropdown-hover icon-bg icon-bg--after aside__item aside__item--arrow">
          <a class="aside__link" href="#">Кисломолочные закваски</a>

          <div class="dropdown aside__dropdown">
            <ul class="list-reset dropdown__list aside__dropdown-list">
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Молодые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Полутвердые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Паста Филата</a></li>
            </ul>
          </div>
        </li>
        <li class="aside__item">
          <a class="aside__link" href="#">Красители для сыра</a>
        </li>
        <li class="dropdown-hover icon-bg icon-bg--after aside__item aside__item--arrow">
          <a class="aside__link" href="#">Специи для сыра</a>

          <div class="dropdown aside__dropdown">
            <ul class="list-reset dropdown__list aside__dropdown-list">
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Молодые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Полутвердые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Паста Филата</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <h2 class="icon-bg icon-bg--before aside__title aside__title--eq">Оборудование</h2>
      <ul class="list-reset aside__list">
        <li class="dropdown-hover icon-bg icon-bg--after aside__item aside__item--arrow">
          <a class="aside__link" href="#">Формы для сыра</a>

          <div class="dropdown aside__dropdown">
            <ul class="list-reset dropdown__list aside__dropdown-list">
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Молодые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Полутвердые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Паста Филата</a></li>
            </ul>
          </div>
        </li>
        <li class="aside__item">
          <a class="aside__link" href="#">Латексное покрытие</a>
        </li>
        <li class="aside__item">
          <a class="aside__link" href="#">Воск для сыра</a>
        </li>
        <li class="dropdown-hover icon-bg icon-bg--after aside__item aside__item--arrow">
          <a class="aside__link" href="#">Термоусадочные пакеты</a>

          <div class="dropdown aside__dropdown">
            <ul class="list-reset dropdown__list aside__dropdown-list">
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Молодые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Полутвердые сыры</a></li>
              <li class="aside__dropdown-item"><a class="dropdown__link aside__dropdown-link" href="#">Паста Филата</a></li>
            </ul>
          </div>
        </li>
        <li class="aside__item">
          <a class="aside__link" href="#">Дренажные коврики</a>
        </li>
        <li class="aside__item">
          <a class="aside__link" href="#">Дренажные мешки и салфетки для прессования</a>
        </li>
        <li class="aside__item">
          <a class="aside__link" href="#">Дренажные контейнеры</a>
        </li>
      </ul>
    </aside>
    <div class="products__content">

    </div>
  </div>
</section>
